#profile-pic{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 15px black;
    border: 2px solid rgb(14, 134, 214) ;
}

#pic-name{
    margin-top: 5%;
    color: black;
    font-size: 30px;
}


#pic-container{
    margin-top: 3%;
    align-items: center;
}

#picture-text{
    position: relative;
    top: -32px;
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #0778b5;
    background-color: #1e539e;
    color: #eef3f7;
    border-style: solid;
    border-radius: 9px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

#bio{
    display: flex;
    justify-content: center;
}

#bio-card{  
    padding: 5px;
    font-size: 16px;
    border-width: 2px;
    border-color:rgb(14, 134, 214);
    background-color: #143f7c;
    color: #eef3f7;
    border-style: solid;
    border-radius: 9px;
    box-shadow: 3px 3px 8px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);

}

#skill-scroll{
    background-color:#143f7cbe;
}

#scroll-text{
    background-color: #0778b5f4;
    color: #eef3f7;
    font-size: 20px;
}