#navbar ul{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

#navbar ul li{
    text-align: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: aliceblue;
}


#my-name{
    padding-left: 100px;
}

#header{
    background-image: url("../images/header-pic4.jpg"), linear-gradient(to right, #0b80e7, #065294);
  background-size: cover;
  color: antiquewhite;
}