#navbar ul{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    gap: 10px;
}

#my-name{
    background-color: #1e539eb1;
}

#navbar ul li{
    text-align: center;
    text-decoration: none;
    border: 2px solid #065294;
    background-color: rgba(62, 238, 238, 0.388); 
    border-radius: 2px;
}

#navbar ul li:hover{
    cursor: pointer;
    background-color: #0652947c;
    box-shadow: 0px 0px 10px blue;
    
}

p{
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: aliceblue;
}


#header{
    background-image: url("../images/header-pic4.jpg"), linear-gradient(to right, #0b80e7, #065294);
  background-size: cover;
  color: antiquewhite;
}

.selected-tab{
   font-size: 20px;
   box-shadow: 0px 0px 10px blue;
}
