
body{
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/wave_background.jpg');
    min-height: 100vh;
}


.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

@tailwind base;
@tailwind components;
@tailwind utilities;