
.project-card{
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 1px 10px black;
}

#burger-builder{
    background-image: url(../images/afternoon-peak-41409.herokuapp.com_\ \(1\).png);
}

.card-size{
    height: 400px;
}

button{
    width: 40%;
    background-color: black;
}

img{
    border-radius: 10px;
}

.project-bg{
    background-image: url('../images/header-pic4.jpg');
    color: antiquewhite;
}

/* .project-detail{
    display: flex;
    flex-direction: column;
} */

