
#row-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-size{
    height: 25%;
    box-shadow: -2px 5px 12px rgb(11, 97, 202);
}

button{
    width: 40%;
    background-color: black;
}

img{
    border-radius: 10px;
    height: 180px;
}

.project-bg{
    background-image: url('../images/header-pic4.jpg');
    color: antiquewhite;
}

.site-info{
    color: rgb(255, 255, 255);
    font-size: larger;
    background-color: rgba(47, 151, 243, 0.664);
    padding: 1px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
}

h2{
    font-weight: bold;
}

@media only screen and (max-width: 1200px){
    #row-div{
        flex-direction: column;
        align-items: center;
    }

    #row-div2{
        flex-direction: column;
        align-items: center;
    }

    .card-size{
        width: 600px;
    }

    #container-div{
        /* display: flex; */
        flex-direction: row;
    }

    #first-card{
        width: 75%;
    }


}